body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    font-size: small;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.image-text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/MVP Images/Final Images/LivingRoomON-3.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s ease-in;
    background-size: cover;
}

.text-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 1000px;
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 1;
}

.choices {
    margin-top: 20px;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.toggle-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #121212;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    z-index: 1001;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.toggle-button:hover {
    background-color: #1f1f1f;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #121212;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #1f1f1f;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.third-paragraphs {
    color: red;
}

.basement {
    background-color: rgba(255, 0, 0, 0.475);
}

.upstairs {
    background-color: rgba(255, 0, 0, 0.475);
}