body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
  }
  
  .container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/MVP Images/Final Images/MasterBedroomWLady-2.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Hide image tag, background image used instead */
  }
  
  .button-box {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(33, 33, 33, 0.8); /* Dark grey, semi-transparent background */
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
  }
  
  #text {
    background-color: rgba(20, 20, 20, 0.8); /* Semi-transparent dark background */
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  #controls,
  #stats {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    padding: 5px;
  }
  
  #monsterStats {
    display: block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(33, 33, 33, 0.8); /* Semi-transparent dark grey background */
    margin-top: 10px;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(20, 20, 20, 0.8); /* Semi-transparent dark background */
    background-image: linear-gradient(rgba(33, 33, 33, 0.8), rgba(20, 20, 20, 0.8));
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: rgba(33, 33, 33, 0.8);
  }
  
  #button4 {
    display: none;
    background-color: rgba(20, 20, 20, 0.8);
    background-image: linear-gradient(rgba(33, 33, 33, 0.8), rgba(20, 20, 20, 0.8));
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  
  @keyframes redFlash {
    0% { background-color: red; }
    100% { background-color: transparent; }
  }
  
  .red-flash {
    animation: redFlash 0.5s;
  }
  